<template>
  <div>
    page: \{{ page }}
    <ul>
      <li v-for="conversation in conversations" :key="conversation._id">
        <nuxt-link :to="{ name: 'conversation', params: { with: conversation.with._id } }">
          \{{ conversation.with.name }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mixins } from 'skiliko-vue-store'
export default {
  middleware: 'auth',
  fetch: ({ store }) => store.dispatch('skiliko/conversations/fetchAll'),
  mixins: [
    mixins.collection('conversations', x => ({
      page: x.page
    }))
  ],
  data () {
    return {
      page: 1
    }
  },
  head () {
    return {
      title: 'Messenger'
    }
  }
}
</script>
