<template>
  <div v-if="offer">
    <h1 v-text="offer.title"></h1>
    <button @click.stop="buy()">BUY</button>
    <div v-html="offer.description.full"></div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { mixins } from 'skiliko-vue-store'

export default {
  fetch: ({ store, params }) => store.dispatch('skiliko/offers/get', { id: params.id }),
  mixins: [
    mixins.item('offer')
  ],
  computed: {
    expertId () {
      return this.offer.admin_ids[0] // Or let the user choose any expert associate to this offer
    }
  },
  head () {
    return {
      title: this.offer.title,
      meta: [
        { hid: 'description', name: 'description', content: this.offer.description.short }
      ]
    }
  },
  methods: {
    ...mapActions({
      createTransaction: 'skiliko/transactions/create'
    }),
    async buy () {
      const transaction = await this.createTransaction({
        offerId: this.offer.id,
        expertId: this.expertId
      })
      this.$router.push({ name: 'transaction', params: transaction })
    }
  }
}
</script>
