<template>
  <div v-if="isPayed">
    payed: \{{ transaction.payed_at }}
    <br/>
    accepted: \{{ transaction.accepted_at }}
    <br/>
    finished: \{{ transaction.finished_at }}
    <br/>
    \{{ transaction.service }}
  </div>
  <form v-else @submit.prevent="submit()">
    <fieldset>
      <legend v-text="transactionType"></legend>
      <div v-if="isService">
        <textarea required placeholder="content" v-model="service.content"></textarea>
      </div>
      <div v-if="isMail">
        <input type="text" placeholder="title" v-model="mail.title">
        <textarea required placeholder="content" v-model="mail.content"></textarea>
      </div>
      <div v-if="isCall">
        <label>
          <input type="checkbox" v-model="phone.appointment">
          appointment ?
        </label>
        <input v-if="phone.appointment" type="datetime-local" v-model="phone.call_at">
        <input required type="phone" placeholder="international phone number" v-model="phone.phone">
      </div>
    </fieldset>

    <fieldset v-if="needPayment">
      <legend>payment</legend>
      <div v-if="currentUser.card">
        Using card \{{ currentUser.card.alias }}
      </div>
      <div v-else>
        <input required type="text" v-model="card.number">
        <input required type="number" v-model="card.month">
        <input required type="number" v-model="card.year">
        <input required type="number" v-model="card.cvx">
      </div>
      <iframe
        ref="frame"
        @load="on3DSecureFrameLoaded"
        v-show="frame3dSecureLoaded"
        v-if="transaction.secure_mode_needed"
        :src="transaction.secure_mode_redirect_url">
      </iframe>
    </fieldset>

    <input type="submit">
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import { mixins } from 'skiliko-vue-store'

const fetch = ({ store, params }) => store.dispatch('skiliko/transactions/get', { id: params.id })

export default {
  middleware: 'auth',
  fetch,
  mixins: [
    mixins.item('transaction'),
    mixins.transaction(),
    mixins.with3dSecure('pay'),
    mixins.session
  ],
  data () {
    return {
      service: {
        content: null,
        attachments: []
      },
      mail: {
        title: null,
        content: null,
        attachments: []
      },
      phone: {
        appointment: false,
        call_at: null,
        phone: null
      },
      prepaid_minutes: {
      },
      card: {
        number: null,
        month: null,
        year: null,
        cvx: null
      }
    }
  },
  head () {
    return {
      title: `#${this.transaction.id} Transaction`
    }
  },
  methods: {
    ...mapActions({
      updateTransaction: 'skiliko/transactions/update',
      payTransaction: 'skiliko/transactions/pay'
    }),
    handleError (error) {
      if (!error || !error.response) { return }
      const { status } = error.response
      if (status === 401) { return this.$router.push({ name: 'signin', query: { redirect: this.$route.path } }) }
      throw error
    },
    update () {
      return this.updateTransaction({
        transaction: this.transaction,
        data: this[this.transactionType]
      })
    },
    pay () {
      return this.payTransaction({
        transaction: this.transaction,
        ...(this.currentUser.card
          ? { cardId: this.currentUser.card.id }
          : { card: this.card }
        )
      })
    },
    async submit () {
      try {
        await this.update()
        await this.pay()
      } catch (error) {
        this.handleError(error)
      }
    }
  }
}
</script>
