<template>
  <div v-if="page">
    Page
    #\{{ page.id }}
    \{{ page.title }}
    <div v-html="page.description.full"></div>
  </div>
</template>

<script>
import { mixins } from 'skiliko-vue-store'

export default {
  fetch: ({ store, params }) => store.dispatch('skiliko/pages/get', { id: params.id }),
  mixins: [
    mixins.item('page')
  ],
  head () {
    return {
      title: this.page.title,
      meta: [
        { hid: 'description', name: 'description', content: this.page.description.short }
      ]
    }
  }
}
</script>
