<template>
  <div>
    \{{ conversation.with.name }}
    <hr>
    <ul>
      <li v-for="message in messages" :key="message._id">
        (\{{ message.sentAt }})
        \{{ message.from.name }} says :
        "\{{ message.content }}"
      </li>
    </ul>
    <form @submit.prevent="submit">
      <textarea v-model="message"></textarea>
      <input type="submit">
    </form>
  </div>
</template>

<script>
import { mixins } from 'skiliko-vue-store'
export default {
  middleware: 'auth',
  fetch: ({ store, params }) => store
    .dispatch('skiliko/conversations/find', { id: params.with })
    .then(conversation => store
      .dispatch('skiliko/messages/fetchAll', { conversationId: conversation._id, page: 1 })),
  mixins: [
    mixins.chat(x => x.$route.params.with)
  ],
  data () {
    return {
      message: null
    }
  },
  head () {
    return {
      title: `Conversation with ${this.conversation.with.name}`
    }
  },
  methods: {
    submit () {
      this.sendMessage({
        message: this.message
      })
        .then(x => (this.message = null))
    }
  }
}
</script>
