<template>
  <form @submit.prevent="submit()">
    <input type="text" placeholder="firstName" v-model="user.first_name">
    <input type="text" placeholder="lastName" v-model="user.last_name">
    <input type="date" placeholder="birthday" v-model="user.birthday">
    <input type="text" placeholder="nationality" v-model="user.nationality">
    <input type="text" placeholder="countryOfResidence" v-model="user.country_of_residence">
    <input type="phone" placeholder="phone" v-model="user.phone">
    <input type="text" placeholder="nickname" v-model="user.nickname">
    <input type="password" placeholder="password" v-model="user.password">
    <input type="password" placeholder="passwordConfirmation" v-model="user.password_confirmation">
    <input type="password" placeholder="currentPassword" v-model="user.current_password">
    <input type="submit">
    <div v-if="confirmDelete">
      Are you sure ?
      <a @click.stop="unregister()">delete account</a>
    </div>
    <a v-else @click.stop="confirmDelete = true">delete account</a>
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import { mixins } from 'skiliko-vue-store'
export default {
  middleware: 'auth',
  mixins: [
    mixins.session
  ],
  data () {
    return {
      confirmDelete: false,
      user: {
        ...this.$store.getters['skiliko/user/current'],
        password: null,
        passwordConfirmation: null,
        currentPassword: null
      }
    }
  },
  head () {
    return {
      title: 'My account'
    }
  },
  methods: {
    ...mapActions({
      save: 'skiliko/user/save',
      unregister: 'skiliko/registration/destroy'
    }),
    submit () {
      this.save(this.user)
    },
    onLogout () {
      this.$router.push({ name: 'index' })
    }
  }
}
</script>
