<template>
  <form @submit.prevent="submit({ email, message, title })">
    <input type="email" placeholder="email" v-model="email">
    <input type="text" placeholder="title" v-model="title">
    <textarea placeholder="message" v-model="message"></textarea>
    <input type="submit">
  </form>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      email: null,
      title: null,
      message: null
    }
  },
  head () {
    return {
      title: 'Contact us'
    }
  },
  methods: mapActions({
    submit: 'skiliko/support/create'
  })
}
</script>
