<template>
  <section class="container">
    <div v-if="platform.multi_experts">
      <ul v-for="expert in experts" :key="expert.id">
        <li>\{{ expert.nickname }}</li>
      </ul>
      <nuxt-link to="/">back</nuxt-link>
    </div>
  </section>
</template>

<script>
import { mixins } from 'skiliko-vue-store'

export default {
  fetch: ({ store }) => store.dispatch('skiliko/experts/fetchAll'),
  mixins: [
    mixins.platform,
    mixins.collection('experts')
  ],
  head () {
    return {
      title: 'Team'
    }
  }
}
</script>
