<template>
  <form @submit.prevent="sendInstructions({ email })">
    <input type="email" placeholder="email" v-model="email">
    <input type="submit">
  </form>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  middleware: 'guest',
  data () {
    return {
      email: ''
    }
  },
  head () {
    return {
      title: 'Password forgotten'
    }
  },
  methods: {
    ...mapActions({
      sendInstructions: 'skiliko/password/sendInstructions'
    })
  }
}
</script>
