<template>
  <section>
    <h4>Platform</h4>
    <ul>
      <li>\{{ platform.title }}</li>
      <li>\{{ platform.url }}</li>
    </ul>
    <h4>Offers</h4>
    <ul>
      <li v-for="offer in platform.offers" :key="offer.id">
        <nuxt-link :to="{ name: 'offer', params: offer }">
          \{{ offer.title }} \{{ offer.price }}
        </nuxt-link>
      </li>
    </ul>
    <template v-if="platform.multi_experts">
      <h4>Experts</h4>
      <ul>
        <li v-for="expert in experts" :key="expert.id">
          <nuxt-link :to="{ name: 'expert', params: expert }">
            \{{ expert.nickname }}
          </nuxt-link>
        </li>
      </ul>
    </template>
    <template>
      <h4>Pages</h4>
      <ul>
        <li v-for="page in pages" :key="page.id">
          <nuxt-link :to="{ name: 'page', params: page }">
            \{{ page.title }}
          </nuxt-link>
        </li>
      </ul>
    </template>
  </section>
</template>

<script>
import { mixins } from 'skiliko-vue-store'

export default {
  fetch: ({ store }) => Promise.all([
    store.dispatch('skiliko/experts/fetchAll'),
    store.dispatch('skiliko/pages/fetchAll')
  ]),
  mixins: [
    mixins.platform,
    mixins.collection('experts'),
    mixins.collection('pages')
  ],
  head () {
    return {
      title: 'Welcome'
    }
  }
}
</script>
