<template>
  <div>
    logging out...
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { mixins } from 'skiliko-vue-store'
export default {
  middleware: 'auth',
  mixins: [
    mixins.session
  ],
  head () {
    return {
      title: 'Bye bye...'
    }
  },
  methods: {
    ...mapActions({
      logout: 'skiliko/session/destroy'
    }),
    onLogout () {
      this.$router.push({ name: 'index' })
    }
  },
  mounted () {
    this.logout()
  }
}
</script>
