<template>
  <form @submit.prevent="register({ email, password, passwordConfirmation })">
    <input type="email" placeholder="email" v-model="email">
    <input type="password" placeholder="password" v-model="password">
    <input type="password" placeholder="confirmation" v-model="passwordConfirmation">
    <input type="submit">
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import { mixins } from 'skiliko-vue-store'
export default {
  middleware: 'guest',
  mixins: [
    mixins.session
  ],
  data () {
    return {
      email: '',
      password: '',
      passwordConfirmation: ''
    }
  },
  head () {
    return {
      title: 'Signup',
      meta: [
        { hid: 'description', name: 'description', content: 'Signup to your Skiliko application' }
      ]
    }
  },
  methods: {
    ...mapActions({
      register: 'skiliko/registration/create'
    }),
    onLogin () {
      this.$router.push({ path: this.$route.query.redirect || '/' })
    }
  }
}
</script>
