<template>
  <form @submit.prevent="login({ email, password })">
    <input type="email" placeholder="email" v-model="email">
    <input type="password" placeholder="password" v-model="password">
    <input type="submit">
    <nuxt-link :to="{ name: 'forgot-password' }">forgot password</nuxt-link>
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import { mixins } from 'skiliko-vue-store'
export default {
  middleware: 'guest',
  mixins: [
    mixins.session
  ],
  data () {
    return {
      email: '',
      password: ''
    }
  },
  head () {
    return {
      title: 'Login',
      meta: [
        { hid: 'description', name: 'description', content: 'Login to your Skiliko application' }
      ]
    }
  },
  methods: {
    ...mapActions({
      login: 'skiliko/session/create'
    }),
    onLogin () {
      this.$router.push({ path: this.$route.query.redirect || '/' })
    }
  }
}
</script>
