<template>
  <div>
    <h4>transactions</h4>
    <ul>
      <li v-for="transaction in transactions" :key="transaction.id">
        <nuxt-link :to="{ name: 'transaction', params: transaction }">
          #\{{ transaction.id }} \{{ transaction.price }} \{{ transaction.offer.service_type }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mixins } from 'skiliko-vue-store'

export default {
  middleware: 'auth',
  fetch: ({ store, query }) => store.dispatch('skiliko/transactions/fetchAll', {
    scope: 'finished',
    page: 1
  }),
  head () {
    return {
      title: 'Transactions'
    }
  },
  mixins: [
    mixins.collection('transactions', x => ({
      scope: 'finished',
      page: 1
    }))
  ]
}
</script>
