<template>
  <div v-if="expert">
    Expert
    \{{ expert.id }}
    \{{ expert.nickname }}
  </div>
</template>

<script>
import { mixins } from 'skiliko-vue-store'

export default {
  fetch: ({ store, params }) => store.dispatch('skiliko/experts/get', { id: params.id }),
  mixins: [
    mixins.item('expert')
  ],
  head () {
    return {
      title: this.expert.nickname,
      meta: [
        { hid: 'description', name: 'description', content: this.expert.description.short }
      ]
    }
  }
}
</script>
