<template>
  <form @submit.prevent="submit()">
    <input type="password" placeholder="password" v-model="password">
    <input type="password" placeholder="confirmation" v-model="passwordConfirmation">
    <input type="submit">
  </form>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  middleware: 'guest',
  data () {
    return {
      password: '',
      passwordConfirmation: ''
    }
  },
  head () {
    return {
      title: 'Reset password'
    }
  },
  methods: {
    ...mapActions({
      reset: 'skiliko/password/reset'
    }),
    submit () {
      this.reset({
        password: this.password,
        passwordConfirmation: this.passwordConfirmation,
        token: this.$route.params.token
      })
        .then(() => this.$router.push({ name: 'signin' }))
    }
  }
}
</script>
