<template>
  <section>
    <nav>
      <nuxt-link :to="{ name: 'index' }">index</nuxt-link>
      <template v-if="isConnected">
        <nuxt-link :to="{ name: 'account' }">account \{{ currentUser.email }}</nuxt-link>
        <nuxt-link :to="{ name: 'transactions' }">transactions</nuxt-link>
        <nuxt-link :to="{ name: 'messenger' }">messenger (\{{ Object.keys(pending).length }})</nuxt-link>
        <nuxt-link :to="{ name: 'logout' }">logout</nuxt-link>
      </template>
      <template v-else>
        <nuxt-link :to="{ name: 'signin' }">signin</nuxt-link>
        <nuxt-link :to="{ name: 'signup' }">signup</nuxt-link>
      </template>
    </nav>
    <nuxt/>
    <footer>
      <nuxt-link :to="{ name: 'contact' }">contact</nuxt-link>
    </footer>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { mixins } from 'skiliko-vue-store'

export default {
  mixins: [
    mixins.platform,
    mixins.session
  ],
  computed: mapGetters({
    pending: 'skiliko/conversations/pending'
  }),
  head () {
    return {
      titleTemplate: `%s - ${(this.platform || {}).title}`,
      htmlAttrs: {
        lang: (this.platform || {}).locale || 'en'
      }
    }
  }
}
</script>

<style scoped>
  nav {
    display: flex;
  }
  a {
    margin: .5em;
  }
  a:first-child {
    flex: 1;
  }
</style>
